body {
    background-color: #DFE9F5;
    width:100%;
    }
    .namebar {
    background-color: #F9D871;
    width: 100%;
    float: left;
    }
    
    h3 {
    color: #000000;
    font-size: 90%;
    font-family: Verdana;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    text-transform: uppercase;
    }
    .menubar {
    background-color: #abc3e8;
    width: 25%;
    height:100%;
    padding-bottom: 47%;
    float: left;
    display: flex;
    flex-direction: column;
    }
    
    .content {
    background-color: #DFE9F5;
    width: 75%;
    float: left;
    }
    
    .slot {
    background-color: #DFE9F5;
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    padding-bottom: 2%;
    padding-right: 5%;
    }
    
    .backbtn {
    border-radius: 10px;
    background-color: #3871c5;
    font-family: Verdana;
    color: #FFFFFF;
    text-align: center;
    font-size: 100%;
    width: 80%;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
    
    .backbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.6s;
    }
    
    .backbtn span:after {
    content:'<';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -5%;
    transition: 0.6s;
    }
    
    .backbtn:hover span {
    padding-left: 10%;
    }
    
    .backbtn:hover span:after {
    opacity: 1;
    left: 0;
    }
    
    h1 {
    color: #000000;
    font-size: 200%;
    font-weight: bold;
    font-family: Verdana;
    padding-left: 10%;
    }
    
    h2 {
    color: #000000;
    font-size: 130%;
    font-family: Verdana;
    float: left;
    margin-left: 15%;
    }
    
    s1 {
    background-color:#C5D4EB;
    color: #000000;
    font-size: 120%;
    font-family: Verdana;
    border-radius: 10px;
    border-style: none;
    margin: auto;
    padding: auto;
    width: 17%;
    height: 40px;
    padding-top: 0.5%;
    text-align: center;
    }
    
    .disabled-btn {
        background-color: grey; /* เปลี่ยนสีปุ่มเป็นสีเทา */
        color: white; /* สีตัวอักษร */
        cursor: not-allowed; /* เปลี่ยน cursor แสดงว่าไม่สามารถคลิกได้ */
        opacity: 0.5; /* ทำให้โปร่งใสเพื่อเอฟเฟกต์ grayout */
    }
    
    .status-container {
        display: flex;
        justify-content: center; /* จัดรูปให้อยู่ตรงกลาง */
        position: sticky; 
        top: 0; /* ล็อกไว้ที่ด้านบนเมื่อเลื่อนถึง */
        z-index: 1000; /* ทำให้เห็นได้ชัดเหนือ content อื่น */
        background-color: white; /* สีพื้นหลังเพื่อให้มองเห็นได้เมื่อเลื่อน */
        padding: 10px; /* เพิ่ม padding เพื่อให้มีพื้นที่รอบๆ รูป */
        background-color: #DFE9F5;
    }
    
    .sticky-img {
        position: sticky;
        top: 0; /* ล็อกรูปไว้ที่ด้านบนสุด */
        z-index: 1000;
        margin: 0 auto;
        /* display: block; */
    }
    
    .content2 {
        height: 100%; /* จำลองความยาวของเนื้อหาเพื่อให้เห็นการเลื่อน */
    }
    
    .cancelbtn {
    border-radius: 10px;
    background-color: #ED2939;
    font-family: Verdana;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 100%;
    width: 15%;
    height: 40px;
    }
    
    .cancelbtn:hover {
    border-radius: 10px;
    background-color: #f06772;
    font-family: Verdana;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 100%;
    width: 15%;
    height: 40px;
    }
    
    .addbtn {
    border-radius: 10px;
    background-color: #3871c5;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 100%;
    width: 15%;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
    
    .addbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.6s;
    }
    
    .addbtn span:after {
    content:'+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5%;
    transition: 0.6s;
    }
    
    .addbtn:hover span {
    padding-right: 8%;
    }
    
    .addbtn:hover span:after {
    opacity: 1;
    right: 0;
    }
    
    .container {
    display: flex;
    }
    
    @media screen and (max-width: 768px) {
    .container {
    width: 100%;
    padding: 0 20px;
    }
    .namebar {
    width: 100%;
    padding: 0 20px;
    }
    }
    @media screen and (max-width: 576px) {
    .container {
    width: 100%;
    padding: 0 20px;
    }
    .namebar {
    width: 100%;
    padding: 0 20px;
    }
    }